.begin-button {
  width: 217px;
  height: 58px;
}

.backThree {
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blurBox {
  width: 400px;
  height: 600px;
  border-radius: 30;
  filter: blur(50px);
}

.title {
  gap: 60;
}

.description {
  font-size: 20;
}

.home {
  position: relative;
  gap: 50;
}
