@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Outfit:wght@100;700&family=Redacted+Script:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;700&family=Redacted+Script:wght@300;400;700&display=swap");
@import "tailwindcss";

/*** IMPORTED FONTS ***/
.redacted-script-light {
  font-family: "Redacted Script", cursive;
  font-weight: 300;
  font-style: normal;
}

.redacted-script-regular {
  font-family: "Redacted Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.redacted-script-bold {
  font-family: "Redacted Script", cursive;
  font-weight: 700;
  font-style: normal;
}

.bad-script {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}

/*** CUSTOM BUTTON AND COLORS ***/
.shadow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30;
  box-shadow: 5px 2px 20px 1px rgb(198, 198, 198);
}

@layer base {
  .light-blue {
    @apply bg-[#f3fff9];
  }
  .animate-bigger {
    @apply hover:scale-110 transition-transform duration-500 ease-in-out
  }
}