.topNav {
  padding: 32px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size:16;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: clamp(40px, 10%, 80px);
  min-width: fit-content;
}

.hyperlink {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding-bottom: 5px;
  width: fit-content;
}

/* HANDLES SCRIBBLE ANIMATION WHEN HOVERING OVER HYPERLINKS */
.hyperlink .animate-scribble {
  width: 105%;
  transition: width 0.3s ease-in-out;
}
.hyperlink:hover .animate-scribble {
  width: 0%;
  transition: width 0.3s ease-in-out;
}

.signInButton {
  height: 44px;
  width: 107px;
  background-color: #F3FFF9;
  border-radius: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 1px rgb(198, 198, 198);
}